body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  background-color: black !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}

* {
  font-family:
    IBM Plex Mono,
    Noto Sans Mono Variable,
    Noto Sans Mono,
    monospace !important;
}

/* Dark theme for calendar in ant design form */
.ant-picker-dropdown .ant-picker-panel {
  background-color: black !important;
  color: #e1e1e1 !important;
  border-color: black !important;
}

.ant-picker-dropdown .ant-picker-header {
  background-color: black !important;
  color: #e1e1e1 !important;
  border-bottom: none !important;
}

.ant-picker-dropdown .ant-picker-header .ant-picker-prev-icon,
.ant-picker-dropdown .ant-picker-header .ant-picker-next-icon,
.ant-picker-dropdown .ant-picker-header .ant-picker-header-view button,
.ant-picker-dropdown .ant-picker-header [class*="super-prev"],
.ant-picker-dropdown .ant-picker-header [class*="super-next"],
.ant-picker-dropdown .ant-picker-header .ant-picker-prev-icon svg,
.ant-picker-dropdown .ant-picker-header .ant-picker-next-icon svg,
.ant-picker-dropdown .ant-picker-header [class*="super-prev"] svg,
.ant-picker-dropdown .ant-picker-header [class*="super-next"] svg {
  color: #e1e1e1 !important;
  fill: #e1e1e1 !important;
}

.ant-picker-dropdown table thead tr th {
  color: #e1e1e1 !important;
}

.ant-picker-dropdown .ant-picker-footer {
  background-color: black !important;
}

.ant-picker-dropdown .ant-picker-footer * {
  color: #ffffff !important;
  fill: #ffffff !important;
}

.ant-picker-dropdown .ant-picker-cell-inner {
  background-color: black !important;
  color: #e1e1e1 !important;
}

.ant-picker-dropdown .ant-picker-cell-inner:hover,
.ant-picker-dropdown .ant-picker-cell-inner:focus {
  background-color: #222222 !important;
  color: #e1e1e1 !important;
}

.ant-picker-dropdown .ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: #000 !important;
  border-color: #000 !important;
  color: #e1e1e1 !important;
}

.ant-picker-dropdown
  .ant-picker-cell:not(.ant-picker-cell-in-view)
  .ant-picker-cell-inner {
  color: #8c8c8c !important;
}

.ant-picker,
.ant-picker-input > input {
  background-color: black !important;
  color: #e1e1e1 !important;
  border-color: #383838 !important;
}

.ant-picker:hover,
.ant-picker:focus,
.ant-picker-input > input:hover,
.ant-picker-input > input:focus {
  background-color: black !important;
  color: #e1e1e1 !important;
  border-color: #383838 !important;
}

.ant-picker-input > input::placeholder {
  color: #e1e1e1 !important;
}

.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid #e1e1e1 !important;
}

.ant-picker-suffix,
.ant-picker-suffix svg,
.ant-picker-clear,
.ant-picker-clear svg {
  color: #e1e1e1 !important;
  fill: #e1e1e1 !important;
}

.ant-table-container {
  background-color: black !important;
  color: #e1e1e1 !important;
  border: 1px solid #383838 !important;
}

.ant-table-thead > tr > th {
  background-color: black !important;
  border-bottom: 1px solid #383838 !important;
  color: #e1e1e1 !important;
}

.ant-select-dropdown {
  background-color: black !important;
}

/* Base item styling */
.ant-select-dropdown .ant-select-item,
.ant-select-dropdown .ant-select-item-option-content {
  color: #e1e1e1 !important;
}

.ant-table-tbody > tr.ant-table-row-selected > td {
  background-color: #383838 !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #383838 !important;
  border-color: #e1e1e1 !important;
}

/* Hover state */
.ant-select-dropdown
  .ant-select-item-option-active:not(.ant-select-item-option-disabled),
.ant-select-dropdown .ant-select-item:hover {
  background-color: #383838 !important;
  color: #e1e1e1 !important;
}

/* Selected state */
.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #383838 !important;
  color: #e1e1e1 !important;
}
.ant-form-item-label > label {
  color: #e1e1e1;
}

/* Dark theme for normal state for inputs only */
.ant-input {
  background-color: black !important;
  color: #e1e1e1 !important;
  border-color: #383838 !important;
}

/* Dark theme hover and focus for inputs only */
.ant-input:hover,
.ant-input:focus {
  background-color: black !important;
  color: #e1e1e1 !important;
  border-color: #e1e1e1 !important;
}

/* Override error state to use the default red border for inputs only */
.ant-form-item-has-error .ant-input {
  border-color: #ff4d4f !important;
}

/* Override hover and focus for error state for inputs only */
.ant-form-item-has-error .ant-input:hover,
.ant-form-item-has-error .ant-input:focus {
  border-color: #ff4d4f !important;
}
/* Remove sorted column background */
.ant-table .ant-table-column-sort {
  background-color: transparent !important;
}

/* Restore row hover background */
.ant-table-tbody > tr:hover > td {
  background-color: rgba(255, 255, 255, 0.08) !important; /* dark-mode hover */
}
